html,
body,
div,
ul,
li,
a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style-type: none;
    font-family: "Inter";
    text-decoration: none;
} /* overrides */

body {
    overflow: hidden;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
/* makes scrolling impossible */

.loading {
    max-width: fit-content;
    margin: 35vh auto;
    font-size: 4rem;
    font-family: "Inter";
}
